<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <a href="http://localhost:8000/new">Add new Student</a>
    <h1>All Students Information</h1>

    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Parent Name</th>
                <th>More details</th>
            </tr>
        </thead>
        <tbody>
            <% for(let student of students ) { %>
                <tr>
                    <td><%= student.studentName %></td>
                    <td><%= student.parentName %></td>
                    <td>
                        <a href="/listall/<%= student._id %>">View More</a>
                        <br>
                        
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    

</body>
</html>
