<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Student Registration</h1>
    <form method="post">
        <label for = 'student-name'>
           Student Name
            <input id="student-name" name="studentName" />
        </label>
        <label for="parent-name">
            Parent name
            <input id="parent-name" name="parentName">
        </label>
        <label for="contact">
            Contact No.
            <input id="contact" name="contact" />
        </label>
        
        <label for="address">
            Address
            <input id="address" name="address" />
        </label>
        
        <label for="school">
            school
            <input id="school" name="schoolName" />
        </label>
        
        <label for="class">
            Class
            <select id="class" name="class">
                <option value="4">4<sup>th</sup></option>
                <option value="5">5<sup>th</sup></option>
                <option value="6">6<sup>th</sup></option>
                <option value="7">7<sup>th</sup></option>
                <option value="8">8<sup>th</sup></option>
                <option value="9">9<sup>th</sup></option>
                <option value="10">10<sup>th</sup></option>
            </select>
        </label>
        
        <label for="subject">
            Subjects
            <input id="subject" name="subject"/>
            
        </label>
        <label for="fees">
            Fees
            <input id="fees" name="fees" />
        </label>
    </form>
</body>
</html>