* {
    margin: 0;
    padding: 0;
} 


body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr {
    background-color: aliceblue;
}


table tbody td ,
th {

    padding: 10px;
    font-size: 20px;
}

header{
    padding: 2%;
    width: 98%;
    background-color: rgb(56, 95, 93);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(180, 178, 154);
    font-size: 20px;
    font-weight: 700;
}

header a {
    text-decoration: none;
    color: rgb(180, 178, 154);
}

.main {
    margin-top: 5%; 
}